html {
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 200%;
}
img {
    max-height: 530px;
    margin: 0 auto;
}
.slides {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 100%;
    text-align: center;
}

.btn-back, .btn-next {
    position: fixed;
    bottom: 0;
}
.btn-back {
    left: 0;
}
.btn-next {
    right: 0;
}

.main-title {
    text-align: center;
    font-size: 3em;
}

.title {
    font-size: 2.5em
}

.slides ul {
    text-align: left;
    position: relative;
    display: inline-block;
    font-size: 1.2em;
}